<div class=" list-group  list-panel">
    <button type="button" class="shadow list-group-item list-group-item-light" (click)="homePage()">
        Home
    </button>
    <button type="button" class="shadow list-group-item list-group-item-light" (click)="profilePage()">
        Profile
    </button>
    <button type="button" class="shadow list-group-item list-group-item-light" (click)="friendsPage()">
        freinds
    </button>
    <button type="button" class="shadow list-group-item list-group-item-light" (click)="abouUsPage()">
        About US
    </button>
    <!-- <button type="button" class="shadow list-group-item list-group-item-light" (click)="exit()">
        Exit
    </button> -->
</div>