<div class="about-page shadow-lg">

    <h2 class="text-center">Biowaze</h2>

    <blockquote class="blockquote text-center">
        <div class="row">

            <p class="mb-0">In this social networking site that enables users to enter lifestyle data, medical card
                information and store various aspects of lifestyle such as data related to food, anthropometric and
                sentiments, as posts and share this data with other users and doctors </p>

            <p class="mb-0">This network helps users to share life and health experiences between them and with some
                doctors who give users some preventive advice to help spread health and current awareness among users.
                "By sharing and commenting on users' posts or by publishing their own posts from their experience in
                dealing with patients. </p>

            <p class="mb-0"> In the future ,we will connect the social network with app who also will collecting and
                storing
                different
                lifestyle, when enough data from users will be collected, the tool can be used for disease prediction,
                early
                detection and lifestyle improvement,The joining of users into a social network is very desirable.</p>
        </div>



        <div class="row">

            <footer class=" blockquote-footer">By: <cite title="Source Title">Safadi Rabeaa</cite></footer>
        </div>
    </blockquote>

</div>