.user-img{
    border: 0;
    margin: 2px;
    padding: 4px;

    img{
      border: 0;
      padding: 0;
    }

  }
  .follow-btns{
    padding: 0;
  margin: 0;
  }

  .remove-menu{
 padding: 5px;
  }
     //app background
     .main-page-background{
      margin: 0;
      padding: 0;
      background-color:hsl(210, 38%, 95%)
    }