<nav class="navbar navbar-dark bg-dark">

    <div class="col col-md-4  align-self-center ">
        <a class="navbar-brand float-md-left   " href="">BioWaze</a>

    </div>

    <form class="form-inline ">
        <input class="form-control mr-sm-2 float-md-right w-100" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-success my-2 my-sm-0 float-md-left" type="submit">Search</button>

    </form>

    <div class="col col-md-2   justify-self-center">
        <button class="btn btn-light my-2 my-sm-0 float-right " (click)="logout()" type="submit">logOut</button>
    </div>

</nav>